body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,h2,h3,h4,h5 {margin-bottom: 0;}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
}
header {
  margin-bottom: 15px;
}

.hero__card {
  display: flex;
  border: 1px solid black;
  box-sizing: border-box;
  max-width: 370px;
  margin: 15px;
}

h1 {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.character__origin {
  font-size: 0.8rem;
  color: grey;
}

.character__description {
  margin-top: 0;
}

.character__details {
  display: flex;
  text-align: left;
  padding: 20px 15px;
}
.character__photo_container img {
  width: 170px;
  margin-top: -35px;
  margin-right: -39px;
}

.character__traits {
  font-size: 0.9rem;
}

.character__traits li {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 8px;
  margin-top: 5px;
}
